body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   }
   
   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #AEED99;
    color: #090909;
   }
   
   .logo-menu {
    cursor: pointer;
   }
   
   .right-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
   
   .right-menu li a {
    display: block;
    padding: 10px 20px;
    color: #090909;
    text-decoration: none;
   }
   
   .right-menu li a:hover {
    background-color: #AEED99;
   }